# System files
.DS_Store

# Local project directories
mowito_dl/
mw_segdec-net/
mowito_dl/lib/

# Custom datasets
MyTrainDataset/
MyDataset/
SavePredictions/
TestImages/
RESULTS/
14_oct/

# Dataset subdirectories
datasets/KSDD2/test/
datasets/KSDD2/train/
datasets/KSDD/KolektorSDD/

# Python compiled files
__pycache__/

Test.dSYM/


